
#details {
    margin-left: 150;
}

textarea {
    vertical-align: top;
    height:600;
    width: 300;
    resize:none;
    display: inline-block;
}

.light-coord {
    width: 30;
    margin-right: 15px;
}
